.App {
  display: grid;
  text-align: center;
  background: aliceblue;
  height: 100vh;

}


.App .chatScreen {
  align-self: center;
  justify-self: center;

}

.chatScreen input {
  background: transparent;
  margin-top: 20px;
  border: none;
  text-align: center;

}

.chatScreen .sendBtn {
  background: #babad0;
  position: relative;
  top: 20px;
  padding: 10px 20px;
}

.chatScreen .messageBox {
  padding-top: 30px;
}

.chatScreen .addUserBtn {
  background: #78f161;
  position: relative;
  top: 20px;
  padding: 10px 20px;
}

.chatScreen .userInput {
  margin-top: 70px;
}